h1 {
    text-align: center;
    font-size: 55px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-top: 8%;
}

h3 {
    text-align:center;
    color:white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}

#myCanvas {
    background-image: url("./../images/tablecloth.jpeg");
    margin-top: 7.5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 90%;
  }

body {
    background-image: url("./../images/centralpark.jpg");
    width: 100%;
    height: 1100px;
    justify-content: center;
}

button {
    background-color: grey; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 20;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    opacity: 90%;
    display: block;  
}

#groupOfPics {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.hidden{
    display:none;
}